{% extends 'base.html' %}

{%block content%}

<div class="container my-3 justify-content-center center">
    <form method="POST">
    <div class="col-6 mx-auto justify-content-center align-content-center border rounded-start rounded-end " style="background-color: #feffea;">
        <div class="row my-2 justify-content-center">
            <div class="col-4 mx-auto">
                <button class="btn btn-danger text-center">Admin Login</button>
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-2">{{form.username.label}}</div>
            <div class="col-3">{{form.username()}}</div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-2">{{form.password.label}}</div>
            <div class="col-3">{{form.password()}}</div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-2">
                {{form.submit()}}
            </div>
        </div>
        <div class="row my-2 mx-auto justify-content-center">
            <p>Looking for <a href="{{url_for('index')}}">User Login?</a></p>
        </div>
    </div>
</form>
</div>

{%endblock%}