{% extends 'base.html' %}
{%block content%}
<div class="container my-1" style="background-color: aliceblue;">
    <p>container</p>
    <div class="row">
        <div class="col-4" style="background-color: bisque;"><p>col4</p>

            <div class="container-fluid" > <!--card h-100 w-100--><!--card-img-cap h-100 w-100-->
                <img class="img-fluid my-3" src="/assets/doge_pistol.jpg" style="border-radius:0; background-size: 0%;"></img>
            </div>

        </div>
        <div class="col-8" style="background-color: aquamarine;"><p>col8</p>
            <div class="row mx-1 my-1" style="background-color:cornflowerblue ;">c7 row 1</div>
            <div class="row mx-1 my-1" style="background-color:cornflowerblue ;">c7 row 2</div>
        </div>
    </div>
</div>
{%endblock%}